<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
  <test name="Regression">
  <groups>
  
  </groups>
    <classes>
      <class name="test.day1"/>
      <class name="test.day2"/>
      <class name="test.day4"/>
      
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Car loan">
  
  <classes>
  <class name="test.day3">
  
  <methods>
  <exclude name="MobileLogincarLoan"/>
  
  </methods>
  </class>
  </classes>
  
  </test>
  
</suite> <!-- Suite -->
